h1 {
  margin: 2rem;
  font-size: 5rem;
}
form {
  text-align: center;
}

.container {
  font-family: 'Roboto', sans-serif;
}
.margin-lg {
  width: 80%;
  margin: 1rem auto;
}

button.btn-custom {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
.api {
  font-style: oblique;
  margin: 3rem auto;
}
